
.banner {
    background-color: #005030;
    padding: 20px;
    height: 150px;
    margin-bottom: 20px;
}

.imageGallery img {
    margin: 10px;
    width: auto; /* Adjust as needed */
    height: 150px; /* Adjust as needed */
}